.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
PBPS_list.xlsx
own_data/
GitHubUpdateAndTweet.R
GitHubUpdateAndTweet.spin.Rmd
GitHubUpdateAndTweet.html
GitHubUpdateAndTweet.spin.R
Version3Main_cache
deneme_cache
.httr-oauth
ArticleDataBase.xlsx
DataForCloud
prepareDataForCloud
scheduleSaveUploadJournalWatchArticles.R
articles.rds
deneme.bib
deneme2.bib
references2.bib
references3.bib
